:root {
  --staples-red: #CC0000;
  --staples-black: #000000;
  --staples-blue: #0070C9;
  --staples-charcoal: #444444;
  --staples-smoke: #7D7D7D;
  --staples-sterling: #CCCCCC;
  --staples-light: #E7E7E7;
  --staples-lighter: #F2F2F2;
}
