input {
	display: inline-block;
	padding: 10px;
	border: none;
	border-bottom: 2px solid var(--staples-smoke);
	transition: all 0.2s ease-in-out;
	font-size: 1rem;
	&::placeholder {
		color: var(--staples-sterling);
	}
	&:hover {
		border-bottom: 2px solid var(--staples-charcoal);
	}
	&:focus {
		border-bottom: 2px solid var(--staples-blue);
		outline: none;
	}
}

button {
	background: var(--staples-red);
	padding: 4px 20px 8px;
	min-width: 200px;
	border-radius: 50px;
	font-size: 1rem;
	color: white;
	font-weight: 400;
	letter-spacing: 0.5px;
	box-shadow: 0 4px 18px rgba(#5b2a2a, 0.25);
	border: 2px solid #bc0505;
	transition: all 0.15s ease-in-out;
}